body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#fileInput {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: #0056b3;
}

#convertBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#convertBtn:hover {
    background-color: #218838;
}

#outputImg {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 5px;
}

#downloadLink {
    display: block;
    margin-top: 20px;
}

#downloadLink button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#downloadLink button:hover {
    background-color: #218838;
}

#resetBtn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetBtn:hover {
    background-color: #004080;
}

#fileInfo {
    margin-top: 10px;
    color: #666;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    label,
    #convertBtn,
    #downloadLink button,
    #resetBtn {
        padding: 8px 16px;
    }

    #outputImg {
        margin-top: 15px;
    }
}